*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-seri;
    background-color: #f5f5f5;
}

header{
    background-color: rgb(252, 250, 250);
    width: 100%;
    min-width: 320px;
    min-height: 75px;
}
#nav-bar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.Logo{
    width: 60%;
    
    height: 60px;
    
}
a{
    text-decoration: none;
}

.info-nav{
    display: flex;
    margin-left:auto;
    margin-right: 50px;
    align-items: center;
    
    
}
.info-nav a:hover{
    color:rgb(64, 169, 196) ;
}

.nav-link{
    color: black;
    font-size: 2rem;
    padding-right: 30px;
}

.subscribe{
    background-color: rgb(64, 169, 196);
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}




.container{
 
    background: rgb(7,252,253);
    background: linear-gradient(90deg, rgba(7,252,253,1) 32%, rgba(0,202,255,1) 87%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    
}

.info-container{
    width: 60vh;
}

.paragraph-main1{
    color: white;
    font-size: 4rem;
}
.paragraph-main2{
    color: white;
    font-size: 2rem;
    padding-bottom: 20px;
}

.started{
    background-color:rgb(64, 169, 196) ;
    width: 180px;
    height: 50px;
    color: white;
    font-size: 1.8rem;
    border: none;
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.subscribtion{
    background-color:white ;
    width: 180px;
    height: 50px;
    color: rgb(64, 169, 196);
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
}
.subscribtion:hover{
    border:rgb(64, 169, 196) solid 3px;
    
}

.started:hover{
    border:white solid 3px;
    
}


.main-img--container{
    margin-left: 200px;

}

.img-section{
    width: 40vw;
    height: 380px;
    margin-left: 100px;

}
.steps-cotainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.info-step-container{
    display: flex;
    margin-bottom: 10px;
    
}
.steps-icons{
    width: 50px;
    height: 40px;
    margin-right: 20px;
}
.step-information--container{
    margin: 0 auto;
}
.step-information--container h2{
    font-size: 3.8rem;
    font-weight: bold;
    padding-bottom: 30px;
    color: rgb(64, 169, 196);
}
.info-step-container b{
    font-size: 3rem;
}
.info-step-container p{
    font-size: 1.5rem;
    color: grey;
    padding-bottom: 40px;
}
.Recents-web--container{
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 400px));
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    
}

.recent-web{
    cursor: pointer;
    position: relative;
    display: block;
}
.recents-websites{
    width: 100%;
    vertical-align: top;
    height: 100%;
}
.post-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    
}
.post-overlay p{
    font-size: 1.4rem;
}
.recent-web:hover .post-overlay {
    display: flex;
}

.Recents-container h2{
    text-align: center;
    color: rgb(64, 169, 196) ;
    font-size: 4rem;
    padding-bottom: 20px;
}
.Recents-container hr{
     width: 88%;
     margin: 0 auto;
 }
.Recents-container{
    margin-bottom: 30px;
}

.quote-container{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/488f115d-6e44-4ccd-b238-b2699af64966/d7bmt54-cde04c58-1c7d-41d2-84aa-ba777a5e5e57.jpg/v1/fill/w_1600,h_900,q_75,strp/web_developer_wallpaper__code__by_plusjack_d7bmt54-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MDAiLCJwYXRoIjoiXC9mXC80ODhmMTE1ZC02ZTQ0LTRjY2QtYjIzOC1iMjY5OWFmNjQ5NjZcL2Q3Ym10NTQtY2RlMDRjNTgtMWM3ZC00MWQyLTg0YWEtYmE3NzdhNWU1ZTU3LmpwZyIsIndpZHRoIjoiPD0xNjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.sFUTnZn5RYs1Ims8gU7hNWI0weOU34Y9Sx4XRylO4xM);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:200px;
    display: flex;
}
.quote-container p{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    align-self: center;
}

.Cards-plans-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-plans{
    width: 280px;
    height: 450px;
    box-shadow: 0 8px 15px -4px rgba(9, 11, 12, 0.8);
    margin: 10px;
    margin-right: 40px;
}
.card-plans-ex{
    width: 280px;
    height: 450px;
    box-shadow: 0 8px 15px -4px rgba(9, 11, 12, 0.8);
    margin: 10px;
    margin-right: 40px;
    background-color: #201E1C;
}

.card-img{
    width: 280px;
    height: 220px;
}
.card-title{
    color: rgb(64, 169, 196) ;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.card-price{
    font-size: 4.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
}
.card-price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.card-description{
    font-size: 1.5rem;
    font-weight: 300;
    color: grey;
    text-align: center;
}
.card-select{
    background-color: rgb(64, 169, 196) ;
    color: white;
    padding: 10px 70px;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}
.select-container{
    margin-top: 50px;
    margin-left: 30px;
}
.Pans--title{
    text-align: center;
    color: rgb(64, 169, 196) ;
    font-size: 4rem;
    padding: 30px 0px 0px 10px;
}
.plans-description{
    text-align: center;
    font-size: 2rem;
    color: grey;
    padding-bottom: 30px;
}
form{
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}
.inp{
    padding: 20px 50px;
    border: gainsboro 2px solid;
    border-radius: 5%;
    margin-bottom: 10px;
}
.button-sub{
    padding: 20px 30px;
    background-color: rgb(64, 169, 196);
    font-size: 2rem;
    color: white;
    margin-left: 20px;
    border-style: none;
    border-radius: 5%;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
@media (max-width: 650px){
    .nav-bar {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
        font-size: 1.5rem;
        }
    
    .info-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .Logo{
        margin: 0 auto;
    }
    .main-img--container{
        margin-left: 0px;
        max-width: 100%;
    
    }
    .img-main{
        max-width: 100%;
        width: auto;
    }
    .img-section{
        display: none;
    }
    .card-plans{
        margin-left: 40px;
    }
    .card-plans-ex{
        margin-left: 40px;
    }
    .button-sub{
        margin-left:  0px;
    }
    }