*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-seri;
    background-color: #f5f5f5;
}

header{
    background-color: rgb(252, 250, 250);
    width: 100%;
    min-width: 320px;
    min-height: 75px;
}
#nav-bar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.Logo{
    width: 60%;
    
    height: 60px;
    
}
a{
    text-decoration: none;
}

.info-nav{
    display: flex;
    margin-left:auto;
    margin-right: 50px;
    align-items: center;
    
    
}
.info-nav a:hover{
    color:rgb(64, 169, 196) ;
}

.nav-link{
    color: black;
    font-size: 2rem;
    padding-right: 30px;
}

.subscribe{
    background-color: rgb(64, 169, 196);
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}




.container{
 
    background: rgb(7,252,253);
    background: linear-gradient(90deg, rgba(7,252,253,1) 32%, rgba(0,202,255,1) 87%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    
}

.info-container{
    width: 60vh;
}

.paragraph-main1{
    color: white;
    font-size: 4rem;
}
.paragraph-main2{
    color: white;
    font-size: 2rem;
    padding-bottom: 20px;
}

.started{
    background-color:rgb(64, 169, 196) ;
    width: 180px;
    height: 50px;
    color: white;
    font-size: 1.8rem;
    border: none;
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.subscribtion{
    background-color:white ;
    width: 180px;
    height: 50px;
    color: rgb(64, 169, 196);
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
}
.subscribtion:hover{
    border:rgb(64, 169, 196) solid 3px;
    
}

.started:hover{
    border:white solid 3px;
    
}


.main-img--container{
    margin-left: 200px;

}

.img-section{
    width: 40vw;
    height: 400px;
    margin-left: 100px;

}
.steps-cotainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.info-step-container{
    display: flex;
    
}
.steps-icons{
    width: 50px;
    height: 40px;
    margin-right: 20px;
}
.step-information--container{
    margin: 0 auto;
}
.step-information--container h2{
    font-size: 3.8rem;
    font-weight: bold;
    padding-bottom: 30px;
    color: rgb(64, 169, 196);
}
.info-step-container b{
    font-size: 3rem;
}
.info-step-container p{
    font-size: 1.5rem;
    color: grey;
    padding-bottom: 40px;
}

@media (max-width: 650px){
    .nav-bar {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
        font-size: 1.5rem;
        }
    
    .info-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .Logo{
        margin: 0 auto;
    }
    .main-img--container{
        margin-left: 0px;
        max-width: 100%;
    
    }
    .img-main{
        max-width: 100%;
        width: auto;
    }
    .img-section{
        display: none;
    }
    }